a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #aadb08;
}

.menu {
  position: fixed;
  top: 0px;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
  padding: 5px 10px;
  text-align: right;
}

.menu ul{
  width:max-content;
  display:inline-block;
  align-items: right;
}

.menu ul li {
  display: inline-block;
  font-family: acme;
  font-size: 16px;
  color: #fff;
  margin-right: 25px;
}

.logobranca {
  background-image: url(../public/img/logobranca.png);
  background-size: 100%;
  width: 53.68px;
  height: 30px;
  float: left;
  margin-left: 30px;
  margin-top: 3px;
}

.painelInicial {
  background-image: url(../public/img/bgInicial.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  background-size: 100%;
  margin-top: 0px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.painelInicial ul {
  text-align: center;
}

.painelInicial li{
  list-style: none;
  margin-top: 30px;
}

.painelInicial h3{
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  margin-top: 350px;
}

.rodape {
  margin-top: 5px;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100px;
}

.rodape .logobranca {
  margin-top: 40px;
  margin-left: 100px;
}

.rodape li {
  list-style: none;
  font-style: normal;
  font-size: 14px;
}

.redes {
  float: right;
  margin-right: 100px;
  margin-top: 40px;
}

.facebook {
  background-image: url(../public/img/fb.png); 
}

.instagram {
  background-image: url(../public/img/insta.png);
}

.linkedin {
  background-image: url(../public/img/linkedin.png);
}

.rede {
  width: 30px;
  height: 30px;
  background-size: contain;
  margin-right: 15px;
  float: left;
}

.rodape h4 {
  text-align: center;
  padding-top: 50px;
}

.painelSecundario {
  background-image: url(../public/img/bgSecund.jpg);
  width: 100%;
  height: 700px;
  background-size: 100%;
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}